/result/generated
/result/ground_truth
*.pyc
/result/normal
**/*.pyc
**/*.json
**/*.yaml
test.*
**/*.log
chathistory/*.txt
**/*.png
.idea
chathistory/normal/identify_history/*.txt
chathistory/normal_abnormal/identify_history/*.txt
result/*